#header {
    h6{
        color: yellow;
        font-weight: bold;
        font-size: xx-large;
    }
    
    a{
        color: white;
        margin: 0 10px;
    }

    .active{
        border-radius: 40px;
        background-color: rgba(255, 255, 0, 0.427);
        color: black;
    }
}
